/*
White: FFFFFF;
Dark Blue: 2B57A1;
Medium Blue: 537AD3;
Orange: EFA03E;
Green: 1BBFAB;
Lime: #7FBA49;
Purple: 3E41A8;
*/

body {
    width: 98%;
    margin: 1rem;
}

nav {
    background-color: #2B57A1;  /* dark blue */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    color: #FFFFFF;  /* white */
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
}

.nav-links a {
    color: #FFFFFF;  /* white */
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 1rem;
}

header {
    color: #FFFFFF;  /* white */
    background-color: #2B57A1;  /* dark blue */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 6vw;
    font-family: 'Poppins', sans-serif;
    line-height: 3rem;
    margin: 3vw;
}

.dog-showcase {
    width: auto;
    height: auto;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 8px solid #537AD3;
    margin: 2rem;
}

.dog-showcase img {
    width: 30vw;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

h2 {
    font-size: 10vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

section h2 {
    text-align: center;
}

.pups-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.pup-wrapper {
    width: 80%
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
}

.pup-pic {
    width: 200px;
    height: 200px;

    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
}

#pup-1 {
    border: 3px solid #1BBFAB;  /* green */
}

#pup-1 .pup-pic {
    background-image: url('./images/pup_1.jpeg');
}

#pup-2 {
    border: 3px solid #3E41A8;  /* purple */
}

#pup-2 .pup-pic {
    background-image: url('./images/pup_2.webp');
}

#pup-3 {
    border: 3px solid #7FBA49;  /* lime */
}

#pup-3 .pup-pic {
    background-image: url('./images/cat_1.jpeg');
}

#pup-4 {
    border: 3px solid #EFA03E;  /* orange */
}

#pup-4 .pup-pic {
    background-image: url('./images/pup_4.jpg');
}

.pup-info {
    padding: 10px 20px;
}

.pup-name {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.pup-byline,
.pup-location {
    font-family: 'Open Sans Condensed', sans-serif;
}

footer {
    background-color: #2B57A1;  /* dark blue */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
}
